{% extends 'layout.html' %}

{% block title_2 %}
    Webmaster
{% endblock %}

{% block content %}

    <img src="{{ url_for('static', filename='images/rasoir.png')}}" />
    <img src="{{ url_for('static', filename='images/hache.jpg')}}" />
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Jonathan</h2>
                    <p class="card-text">Un lycéen</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Corentin</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Un prépa</h6>
                    <p class="card-text">Un prépa</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}