{% extends 'layout.html' %}

{% block title_2 %}
    Webmaster
{% endblock %}

{% block content %}
    <center><img class="align-content-center" src="{{ url_for('static', filename='images/WebTrolling.png')}}" /></center>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-block" id="cards">
                                    <h3 class="section-title">Webmasters</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Jonathan
                                        <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/rasoir.png')}}" alt="" class="user-avatar-md rounded-circle" width="40%" height="40%"></div>
                                        </h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Un lycéen</h6>
                                        <p class="card-text">
                                            <p>天才少年と呼ばれていますが、私はまだ代です。それに、私はインターネットの航空管制官だから、飛行機を送ってくれ、私に任せてくれ。</p>
                                        </p>
                                        <a href="/" class="btn btn-primary">Go to Accueil</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Corentin
                                        <div class="notification-list-user-img"><img src="{{ url_for('static', filename='images/hache.jpg')}}" alt="" class="user-avatar-md rounded-circle" width="40%" height="40%"></div>
                                        </h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Un prépa</h6>
                                        <p class="card-text">
                                            <p>将軍様のふりをしている学生です。仲間の力になりたいし、何事も成功させたい。だから海に飛行機を送り込む。</p>
                                        </p>
                                        <a href="/" class="btn btn-primary">Go to Accueil</a>
                                    </div>
                                </div>
                            </div>

                        </div>
{% endblock %}